{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="post-detail">
    <h1>{{ post.title }}</h1>
    <p class="post-meta">By {{ post.author.username }} on {{ post.published_date|date:"F d, Y" }}</p>
    
    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    
    {% if user == post.author %}
        <div class="post-actions">
            <a href="{% url 'post-update' post.pk %}">Edit Post</a> |
            <a href="{% url 'post-delete' post.pk %}">Delete Post</a>
        </div>
    {% endif %}
    
    <p><a href="{% url 'post-list' %}">Back to All Posts</a></p>
</div>
{% endblock %}